body .footer {
 background-color:#eeeeee !important;
 border:1px solid #c8c8c8 !important;
 color:#333 !important;
 padding:.571em 1em .571em 1em !important;
 font-weight:700 !important
}

*.bashboard_sliders{
    position: absolute;
    top:100px;
    height: 50px; 
    z-index: 100;
    width: 20vw;
}
*.firstDropDown{
    background: linear-gradient(180deg, #F48997 0%, #EC6F71 100%), linear-gradient(180deg, rgba(245, 111, 127, 1) 0%, rgba(235, 77, 77, 1) 100%);
    margin-top: -10px;
    margin-left: -14px;
    margin-right: -14px;
    margin-bottom: -5px;
}
*.secondDropDown{
    background: linear-gradient(180deg, rgba(132, 166, 254, 1) 0%, rgba(115, 120, 235, 1) 100%);
    margin-top: -10px;
    margin-left: -14px;
    margin-right: -14px;
    margin-bottom: -5px;
}
*.thirdDropDown{
    background: linear-gradient(180deg, rgba(29, 214, 191, 1) 0%, rgba(27, 187, 197, 1) 100%);
    margin-top: -10px;
    margin-left: -14px;
    margin-right: -14px;
    margin-bottom: -5px;
}
*.forthDropDown{
    background: linear-gradient(180deg, rgba(233, 171, 52, 1) 0%, rgba(231, 121, 19, 1) 100%);
    margin-top: -10px;
    margin-left: -14px;
    margin-right: -14px;
    margin-bottom: -5px;
}
*.dashbordMenuItem{
    color: rgba(255,255,255,.7);
    background: transparent; 
    font-family: Montserrat,sans-serif; 
    font-size: 16px;
}
