doctype html
html(lang="en")
	head
		meta(name="viewport" content="width=device-width, initial-scale=1.0")
		meta(charset="UTF-8")

		link(rel="stylesheet" href="css/style.css")
		link(href="https://fonts.googleapis.com/css2?family=Montserrat:wght@400;700&display=swap" rel="stylesheet")
		title Document
	body
		header
			.wrapper
				.header
					.header__logo <-x>
					.header__logout
						img(src="image/feather_log-out.png")
						span LOG OUT

		block content