doctype html
html(lang="en")
	head
		meta(name="viewport" content="width=device-width, initial-scale=1.0")
		meta(charset="UTF-8")

		link(rel="stylesheet" href="css/style.css")
		link(href="https://fonts.googleapis.com/css2?family=Montserrat:wght@400;700&display=swap" rel="stylesheet")
		title Document
	body
		.page2
			.wrapper
				.page2__inner
					.inner__sides
						.inner__lft
							h2 Log in
							p Log in with your data that you entered during your registration.
							form
								label(for="login") Login
								input(type="text" id="login")
								label(for="password") Password
								input(type="password" id="password")
								input(type="submit" value="Log in")
								p Don’t have an account?
									a(href="#") Sign up </br>
									a(href="#") Forgot password?
						.inner__rht
							.rht__logo
								img(src="image/Rectangle228.png").sip__border
								span.span-top the
								b sip trunk
								.sip__sides
									span 19
									.bl <-x>
									span 99
								p global company
							img(src="image/Group63.png").comp