doctype html
html(lang="en")
	head
		meta(name="viewport" content="width=device-width, initial-scale=1.0")
		meta(charset="UTF-8")

		link(rel="stylesheet" href="css/style.css")
		link(href="https://fonts.googleapis.com/css2?family=Montserrat:wght@400;700&display=swap" rel="stylesheet")
		title Document
	body
		.page1
			.wrapper
				a(href="#").page1__login log-in
					img(src="image/feather_log-in.png")
				.page1__shadow
				.page1__sip
					img(src="image/Rectangle227.png").sip__border
					span.span-top the
					b sip trunk
					.sip__sides
						span 19
						.bl <-x>
						span 99
					p global company
				.page1__blue Leading Optimization Engine
				.page1__white Engagement and Orchestration
				.page1__list
					.list__item
						.item__head
							img(src="image/voice-search1.png")
							span Voice Routing
						.item__body
							ul
								li LCR Cloud Solutions
								li CIC/RespOrg
					.list__item
						.item__head
							img(src="image/message1.png")
							span Message Routing
						.item__body
							ul
								li NNID
								li Campaign Content Carrier Partition
								li A2P
								li P2P
								li 2FA
					.list__item
						.item__head
							img(src="image/hexagon1.png")
							span Numbering Services
						.item__body
							ul
								li Wireless and Wireline DID
								li STIR/SHAKEN